:root {
  --bg: #111;
  --bg1: #151515;
  --text: #fefefe;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

.project {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  gap: 1rem;
}
.todo-list {
  display: contents;
}
.todo,
.create-todo {
  min-width: 20ch;
  min-height: 20ch;
  padding: 1rem;
  border-radius: 0.2em;
}

.todo {
  background-color: var(--bg1);
}
.todo .title {
  font-size: 1.5rem;
  margin: 1em 0;
}
.todo .description {
  margin: 1em 0;
}

.create-todo {
  display: grid;
  place-content: center;
}
.create-todo button {
  all: unset;
  display: grid;
  place-content: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-color: var(--bg1);
}
